@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
.tutorial-item {
  padding: 12px;
  background-color: #ededed;
  border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  font-family: 'Arial';
  display: flex;
}

.tabs {
  flex-shrink: 0;
  flex-grow: 0;
  width: 10rem;
  padding: 2rem;
  background: #e4e4e8;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
  padding: 0 0 0 1rem;
}

.tab-button {
  padding: 1rem 2rem;
  margin: 0.25rem 0;
  background: #979ebf;
  color: #fff;
  border: 1px solid #424a6b;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  display: flex;
}

.tab-button.active {
  background: #1b1e2c !important;
}

.issues {
  background: #e3fcef;
  min-height: 100%;
  padding: 2rem;
}

.projects {
  background: #77a6d2;
  min-height: 100%;
  padding: 2rem;
}

.reports {
  background: #e79c9c;
  min-height: 100%;
  padding: 2rem;
}

/* Performant React with Context */
.content {
  display: flex;
  width: 100%;
}

.countries-list {
  max-width: 500px;
}

.country-item {
  display: flex;
  margin: 3px 0;
  align-items: center;
  padding: 3px 10px;
  border: 0;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 18px;
}

.country-item.saved {
  background: #ccc6ec;
}

.country-item.dark {
  background: #151515;
  color: #fff;
}

.country-item:focus,
.country-item:active {
  background: #c1f0f9;
}

.country-same-region {
  font-size: 10px;
  line-height: 12px;
}

.selected-container {
  display: flex;
  width: 50%;
  align-items: flex-start;
}

.selected-info {
  flex-grow: 1;
}

.selected-button {
  padding: 10px 20px;
  background: #00875a;
  color: #fff;
  border: 0;
}

.selected-flag {
  width: 150px;
}
